.first-route {
    position: relative;
    width: 100%;
    min-height: 100vh;
    color: whitesmoke;
    background: #121212;
    display: flex;
}

.first-route-box {
    width: 100%;
}

.first-route-img-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    filter: brightness(0.4);
    text-align: end;
}

.first-route-waifu {
    width: 30%;
}

.first-route-logo {
    width: 12%;
    position: absolute;
    top: 43%;
    left: 68%;
    animation-name: firstRouteLogo;
    -webkit-animation: firstRouteLogo;
    -moz-animation: firstRouteLogo;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes firstRouteLogo {
    0%, 100%{transform: translateY(0); -webkit-filter: drop-shadow(5px 5px 15px rgba(255, 255, 255,.8));
                    filter: drop-shadow(5px 5px 15px rgba(255, 255, 255,.8));}
    50%{transform: translateY(-25%);-webkit-filter: drop-shadow(5px 5px 15px rgba(255, 255, 255,0.5));
                    filter: drop-shadow(5px 5px 15px rgba(255, 255, 255,0.5));}
}

