.gallery {
    font-family: myfont;
    display: grid;
    grid-gap: 3em;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    text-align: center;
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 1;
    padding: 2em 0;
}


.NFT-card-image img {
    width: 70%;
    box-shadow: 1px 1px 15px rgb(255, 255, 255);
    cursor: pointer;
} 

.NFT-card-name {
    color: rgb(138, 138, 138);
    padding-top: 10px;
}

.NFT-card-rarity {
    color: goldenrod;
}

.NFT-card-price {
    color: rgb(0, 153, 8);
}

.rarity-filter-searchbar {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em 0 4em 0;
    font-family: myfont;
    list-style: none;
}

.searchbar {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: myfont;
    font-size: 20px;
}

.searchbar input {
    padding: 10px;
}

.search-btn {
    cursor: pointer;
    font-size: 30px;
    transition: all 0.3s linear;
}

.search-btn:hover {
    color: rgb(255, 119, 119);
}

@media only screen and (max-width:995px) {
    .gallery {
        grid-gap: 1em;
    }
    .NFT-card-image img {
        width: 60%;
    } 
}
@media only screen and (max-width:931px) {
    .gallery {
        grid-gap: 1em;
    }
    .NFT-card-image img {
        width: 50%;
    } 
}
@media only screen and (max-width:615px) {
    .gallery {
        grid-gap: 0em;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));

    }
    .NFT-card-image img {
        width: 60%;
    } 
}
@media only screen and (max-width:499px) {
    .gallery {
        grid-gap: 0em;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));

    }
    .NFT-card-image img {
        width: 60%;
    } 
}
@media only screen and (max-width:399px) {
    .gallery {
        grid-gap: 0em;
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));

    }
    .NFT-card-image img {
        width: 70%;
    } 
}