@font-face {
    font-family: myfont;
    src: url('./assets/fonts/TTNorms-Regular.woff') format('woff');
}

@font-face {
    font-family: myfont;
    src: url('./assets/fonts/TTNorms-Medium.woff') format('woff');
    font-weigth: medium;
}

@font-face {
    font-family: myfont;
    src: url('./assets/fonts/TTNorms-ExtraBold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

@font-face {
    src: url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap);
}

.App {
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    background: #121212;
    overflow: hidden;
    display: flex;
    position: relative;
}

.wallet {
    position: absolute;
    top: 1%;
    right: 1%;
    font-family: myfont;
    color: white;
}







